@import "../../app.scss";

body {
  margin: 0;
  padding: 0;
}

.Register {
  height: 100vh;
  padding-top: 8px;
  background-color: rgb(192, 216, 251);
  display: flex;
  align-items: center;
  justify-content: center;

  // @include mobile{
  //   margin: 0;
  //   height: 100%;
  //   // margin-top: 10px;
  //    width: 100%;
  //   }

  .card {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    // min-height: 500px;
    overflow: hidden;

    @include mobile {
      flex-direction: column;
      width: 90%;
      height: 95%;
    }

    .right {
      flex: 1;
      background: linear-gradient(#202c67, #1d86e3), center;
      background-size: cover;

      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      padding-left: 30px;
      // @include mobile {
      //   order: 1;
      //   //background: white;
      // }
      h1 {
        font-family: "Kalam", cursive;
        font-size: 100px;
        line-height: 100px;
        @include mobile {
          font-size: 75px;
          margin-bottom: 0;
          padding-bottom: 80px;
        }
      }

      p {
        @include mobile {
          // font-size: 15px;
          // padding-right: 10px;
          display: none;
        }
      }

      span {
        font-size: 14px;
        // @include mobile {
        //   display: none;
        // }
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #202c67;
        font-weight: bold;
        cursor: pointer;
        @include mobile {
          margin-bottom: 15px;
        }
      }
    }

    .left {
      @include mobile {
        order: 2;
      }
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      // gap: 10px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #202c67;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
